:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

ol,
ul {
    list-style-type: none;
}

.web-logo {
    font-family: "Rubik Burned", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2.6rem;
}


@media screen and (min-width: 64em) {
    .product img {
        min-width: 100%;
    }

    .product__list-nobanner .product__item img {
        min-width: 100%;
    }

}

@media screen and (min-width: 46.25em) {
    .product__item-modal {
        display: none;
        bottom: -44px;
    }
}

@media screen and (min-width: 46.25em) and (max-width:63.9375em) {}

@media screen and (max-width: 46.1875em) {
    .product__item-banner {
        display: none;
    }

    .product__item {
        width: 100%;
    }

    .product__item-modal {
        display: block;
        bottom: 4px;
    }

    .product__list-nobanner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .sign-in__group {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        align-items: flex-start;
    }

    .product-detail__description {
        display: none;
    }
}