.product-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}

.product-detail img{
    overflow: hidden;
    height: 260px;
}

.description-title{
    font-size: 2rem;
}

.product-detail__description ul{
    list-style-type: disc;
}

.product-detail__description{
    margin-top: 10px;
}

.product-recommend{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-recommend__title{
    margin-top: 20px;
    font-size: 2rem;
}

.product-recommend img{
    max-width: 95%;
}

.product__item:hover::before{
    background-color: transparent;
}